<template>
  <div class="entry-form">
    <div class="entry-form-content">

      <div class="form-box">
        <FoodSelector @select="onSelect" :foods="foods"></FoodSelector>
      </div>

      <form class="form-box" @submit="onSubmit">
        <div class="input-set">
          <label for="energy">Energy (kcal)</label>
          <div class="input-wrapper">
            <input id="energy" v-model="form.nutrition.energy" type="number"
                   step="0.1" placeholder="0">
          </div>
        </div>

        <div class="input-set">
          <label for="protein">Protein (g)</label>
          <div class="input-wrapper">
            <input id="protein" v-model="form.nutrition.protein" type="number"
                   step="0.1" placeholder="0">
          </div>
        </div>

        <div class="input-set">
          <label for="lipid">Lipid (g)</label>
          <div class="input-wrapper">
            <input id="lipid" v-model="form.nutrition.lipid" type="number"
                   step="0.1" placeholder="0">
          </div>
        </div>

        <div class="input-set">
          <label for="carbohydrate">Carbohydrate (g)</label>
          <div class="input-wrapper">
            <input id="carbohydrate" v-model="form.nutrition.carbohydrate"
                   type="number"
                   step="0.1" placeholder="0">
          </div>
        </div>

        <div class="input-set">
          <label for="sodium">Sodium (mg)</label>
          <div class="input-wrapper">
            <input id="sodium" v-model="form.nutrition.sodium" type="number"
                   step="0.1" placeholder="0">
          </div>
        </div>

        <div class="input-set">
          <label for="name">Name</label>
          <div class="input-wrapper">
            <input id="name" v-model="form.name" type="text"
                   placeholder="something">
          </div>
        </div>

        <div class="input-set">
          <label for="date">Date</label>
          <div class="input-wrapper">
            <datepicker id="date" v-model="form.ate_at"
                        :format="datepicker_format"></datepicker>
          </div>
        </div>

        <button type="submit" :disabled="
      form.nutrition.energy === '' ||
      form.nutrition.protein === '' ||
      form.nutrition.lipid === '' ||
      form.nutrition.carbohydrate === '' ||
      form.nutrition.sodium === '' ||
      form.name === '' ||
      form.ate_at === ''">
          submit
        </button>
      </form>

    </div>
  </div>
</template>

<script>
  import Datepicker from 'vuejs-datepicker';
  import FoodSelector from './FoodSelector';
  import VueTypes from 'vue-types';

  export default {
    name: 'EntryForm',
    components: {
      FoodSelector,
      Datepicker,
    },
    props: {
      foods: VueTypes.arrayOf(VueTypes.shape({
        id: VueTypes.integer.isRequired,
        name: VueTypes.string.isRequired,
        nutrition: VueTypes.shape({
          energy: VueTypes.number.isRequired,
          protein: VueTypes.number.isRequired,
          lipid: VueTypes.number.isRequired,
          carbohydrate: VueTypes.number.isRequired,
          sodium: VueTypes.number.isRequired,
        }).isRequired,
      })).isRequired,
    },
    data() {
      return {
        form: {
          nutrition: {
            energy: '',
            protein: '',
            lipid: '',
            carbohydrate: '',
            sodium: '',
          },
          name: '',
          ate_at: new Date(),
        },
        datepicker_format: 'yyyy-MM-dd',
      };
    },
    methods: {
      onSubmit(event) {
        event.preventDefault();
        let year = this.form.ate_at.getFullYear();
        let month = ('0' + (this.form.ate_at.getMonth() + 1)).slice(-2);
        let day = ('0' + this.form.ate_at.getDate()).slice(-2);
        this.form.ate_at = (year + '-' + month + '-' + day);
        this.$emit('submit', this.form);
        this.form = {
          nutrition: {
            energy: '',
            protein: '',
            lipid: '',
            carbohydrate: '',
            sodium: '',
          },
          name: '',
          ate_at: new Date(),
        };
      },
      onSelect(food) {
        this.$set(this.form.nutrition, 'energy', food.nutrition.energy);
        this.$set(this.form.nutrition, 'protein', food.nutrition.protein);
        this.$set(this.form.nutrition, 'lipid', food.nutrition.lipid);
        this.$set(this.form.nutrition, 'carbohydrate',
            food.nutrition.carbohydrate);
        this.$set(this.form.nutrition, 'sodium', food.nutrition.sodium);
        this.$set(this.form, 'name', food.name);
      },
    },
  };
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
  button {
    margin-top: 20px;
  }

  .entry-form {
    display: flex;
    justify-content: center;
  }

  .form-box {
    background: var(--bg-light);
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
  }

  .input-set {
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
  }

  .input-wrapper {
    display: inline-block;
    flex: 1 1;
    text-align: center;
  }

  .vdp-datepicker {
    display: inline-block;
  }
</style>
