<template>
  <div class="food-list">

    <div class="food-box">
      <label for="food-select">All foods</label>
      <select id="food-select" multiple size="10">
        <option :key="f.id" @click="onClick(f.id)" v-for="f in foods">
          {{f.name}}
        </option>
      </select>
    </div>

    <div class="food-box">
      <p>{{selected.name}}</p>
      <p>price: {{selected.cost}} yen</p>
      <p>energy: {{selected.energy}} g</p>
      <p>protein: {{selected.protein}} g</p>
      <p>lipid: {{selected.lipid}} g</p>
      <p>carbohydrate: {{selected.carbohydrate}} g</p>
      <p>sodium: {{selected.sodium}} mg</p>
    </div>
  </div>
</template>

<script>
  import VueTypes from 'vue-types';

  export default {
    name: 'FoodList',
    props: {
      foods: VueTypes.arrayOf(VueTypes.shape({
        id: VueTypes.integer.isRequired,
        name: VueTypes.string.isRequired,
        cost: VueTypes.number.isRequired,
        energy: VueTypes.number.isRequired,
        protein: VueTypes.number.isRequired,
        lipid: VueTypes.number.isRequired,
        carbohydrate: VueTypes.number.isRequired,
        sodium: VueTypes.number.isRequired,
      })).isRequired,
    },
    data() {
      return {
        selected: {},
      };
    },
    methods: {
      onClick(id) {
        this.selected = this.foods.find(key => key.id === id);
      },
    },
  };
</script>

<style scoped>
  p {
    border-bottom: 1px dotted var(--accent-dark);
  }

  select {
    display: block;
    margin: 10px;
  }

  .food-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .food-box {
    background: var(--bg-light);
    margin: 20px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
  }
</style>
