<template>
  <div class="entry-form">
    <form class="form-box" @submit="onSubmit">

      <div class="input-set">
        <label for="name">Name</label>
        <div class="input-wrapper">
          <input id="name" v-model="form.name" type="text"
                 placeholder="something">
        </div>
      </div>

      <div class="input-set">
        <label for="price">Price (yen)</label>
        <div class="input-wrapper">
          <input id="price" placeholder="0" type="number"
                 v-model="form.cost">
        </div>
      </div>

      <div class="input-set">
        <label for="energy">Energy (kcal)</label>
        <div class="input-wrapper">
          <input id="energy" v-model="form.nutrition.energy" type="number"
                 step="0.1" placeholder="0">
        </div>
      </div>

      <div class="input-set">
        <label for="protein">Protein (g)</label>
        <div class="input-wrapper">
          <input id="protein" v-model="form.nutrition.protein" type="number"
                 step="0.1" placeholder="0">
        </div>
      </div>

      <div class="input-set">
        <label for="lipid">Lipid (g)</label>
        <div class="input-wrapper">
          <input id="lipid" v-model="form.nutrition.lipid" type="number"
                 step="0.1" placeholder="0">
        </div>
      </div>

      <div class="input-set">
        <label for="carbohydrate">Carbohydrate (g)</label>
        <div class="input-wrapper">
          <input id="carbohydrate" v-model="form.nutrition.carbohydrate"
                 type="number" step="0.1" placeholder="0">
        </div>
      </div>

      <div class="input-set">
        <label for="sodium">Sodium (mg)</label>
        <div class="input-wrapper">
          <input id="sodium" v-model="form.nutrition.sodium" type="number"
                 step="0.1" placeholder="0">
        </div>
      </div>

      <div class="input-set">
        <label for="salt">Salt (g) (Optional)</label>
        <div class="input-wrapper">
          <input @change="onChange" id="salt" placeholder="0" step="0.1"
                 type="number" v-model="salt">
        </div>
      </div>

      <button type="submit" :disabled="
      form.cost === '' ||
      form.nutrition.energy === '' ||
      form.nutrition.protein === '' ||
      form.nutrition.lipid === '' ||
      form.nutrition.carbohydrate === '' ||
      form.nutrition.sodium === '' ||
      form.name === ''">
        submit
      </button>

    </form>
  </div>
</template>

<script>
  export default {
    name: 'FoodEntry',
    data() {
      return {
        form: {
          name: '',
          cost: '',
          nutrition: {
            energy: '',
            protein: '',
            lipid: '',
            carbohydrate: '',
            sodium: '',
          },
        },
        salt: '',
      };
    },
    methods: {
      onSubmit(event) {
        event.preventDefault();
        this.$emit('submit', this.form);
        this.$set(this, 'form', {
          name: '',
          cost: '',
          nutrition: {
            energy: '',
            protein: '',
            lipid: '',
            carbohydrate: '',
            sodium: '',
          },
        });
        this.$set(this, 'salt', '');
      },
      onChange() {
        let sodium = Math.round(this.salt * 1000 / 2.54 * 10) / 10;
        this.$set(this.form.nutrition, 'sodium', sodium);
      },
    },
  };
</script>

<style scoped>
  button {
    margin-top: 20px;
  }

  .entry-form {
    display: flex;
    justify-content: center;
  }

  .form-box {
    background: var(--bg-light);
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
  }

  .input-set {
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
  }

  .input-wrapper {
    display: inline-block;
    flex: 1 1;
    text-align: center;
  }
</style>

