<template>
  <div class="recommend-list">

    <div class="simulate-box">
      <label for="food-select">Food list (recommended order)</label>
      <select id="food-select" multiple size="10">
        <option :key="f.id" @click="onClickAdd(f)" v-for="f in recList">
          {{f.name}}
        </option>
      </select>
    </div>

    <div class="simulate-box">
      <label for="sim-select">Simulate Food</label>
      <select id="sim-select" multiple size="10">
        <option disabled>Selected foods</option>
        <option :key="f.id" @click="onClickDel(f.id)" v-for="f in extra">
          {{f.name}}
        </option>
      </select>
    </div>

  </div>
</template>

<script>
  import VueTypes from 'vue-types';

  export default {
    name: 'RecommendList',
    props: {
      recList: VueTypes.arrayOf(VueTypes.shape({
        id: VueTypes.number.isRequired,
        name: VueTypes.string.isRequired,
        energy: VueTypes.number.isRequired,
        protein: VueTypes.number.isRequired,
        lipid: VueTypes.number.isRequired,
        carbohydrate: VueTypes.number.isRequired,
        sodium: VueTypes.number.isRequired,
      })),
    },
    data() {
      return {
        extra: [],
      };
    },
    methods: {
      onClickAdd(food) {
        this.extra.push(food);
        this.$emit('add', food.id);
      },
      onClickDel(id) {
        const idx = this.extra.findIndex(key => key.id === id);
        this.extra.splice(idx, 1);
        this.$emit('del', id);
      },
    },
  };
</script>

<style scoped>
  select {
    display: block;
    margin: 10px;
  }

  .recommend-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .simulate-box {
    background: var(--bg-light);
    margin: 20px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.13);
  }
</style>
