<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      |
      <router-link to="/recommend">Recommend</router-link>
      |
      <router-link to="/food">Food</router-link>
      |
      <router-link to="/stats">Stats</router-link>
      |
      <router-link to="/entry">Entry</router-link>
    </div>
    <router-view/>
  </div>
</template>

<!--suppress CssUnusedSymbol -->
<style>
  :root {
    --bg-dark: #282828;
    --bg-light: #3c3836;
    --bg-lighter: #504945;
    --fg-dark: #ebdbb2;
    --fg-light: #fbf1c7;
    --accent-dark: #689d6a;
    --accent-light: #8ec07c;
    --border: #689d6a;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--accent-dark);
    text-decoration: none;
    outline: none;
  }

  label {
    width: 150px;
  }

  input {
    background: var(--bg-light);
    color: var(--fg-light);
    border: 0;
    border-bottom: 2px solid var(--accent-dark);
    text-align: center;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  select {
    background: var(--bg-light);
    color: var(--fg-light);
    border: none;
    border-bottom: 2px solid var(--accent-dark);
  }

  button {
    background: var(--bg-dark);
    color: var(--fg-dark);
    border-color: var(--accent-dark);
  }

  #app {
    background: var(--bg-dark);
    color: var(--fg-dark);
    text-align: center;
    min-height: 100vh;
    padding: 20px;
  }

  #nav {
    padding: 10px;
  }

  #nav a {
    font-weight: bold;
  }

  #nav a.router-link-exact-active {
    color: var(--accent-light);
  }
</style>
