<template>
  <div class="entry">
    <h1>Entry page</h1>
    <EntryForm @submit="onSubmit" :foods="foods"/>
  </div>
</template>

<script>
  import axios from 'axios';
  import EntryForm from '../components/EntryForm';

  export default {
    name: 'Entry',
    components: {EntryForm},
    props: {
      food_url: String,
      report_url: String,
    },
    data() {
      return {
        foods: [],
        form: {},
      };
    },
    methods: {
      onSubmit(form) {
        this.form = form;
        axios.post(this.report_url, form);
      },
    },
    mounted() {
      axios.get(this.food_url).
          then(res => {
            res.data.forEach(r => {
              let n = r['nutrition'];
              this.foods.push({
                id: r['id'],
                name: r['name'],
                nutrition: {
                  energy: n['energy'],
                  protein: n['protein'],
                  lipid: n['lipid'],
                  carbohydrate: n['carbohydrate'],
                  sodium: n['sodium'],
                },
              });
            });
          });
    },
  };
</script>

<style scoped>

</style>
